body, html {
	font-family: arial, verdana, sans-serif;
	background-color: #191919;
}

#wrapper {
	width: 960px;
	margin: 50px auto;
	overflow-x: hidden;
	position: relative;
	background-color: #eee;
}
#wrapper .content {
	padding: 40px;
}
#wrapper .content p {
	margin: 0 0 10px 0;
}

.panel {
	z-index: 999;
	position: absolute;
	top: 0;
	left: 0;
}
.panel h1 {
	font-size: 2em;
	font-family: times, serif;
}
.panel p em {
	background-color: #fe0;
	color: #333;
	font-style: normal;
	padding: 0 2px;
}
.panel .ui-content {
	background-color: #2f3738;
	color: #fff;
	padding: 15px;
}
.panel .ui-toggle {
	font-size: 10px;
	font-weight: bold;
	padding: 2px;
	position: relative;
	background-color: #59d8e5;
	cursor: pointer;
}


#top-bar {
	width: 100%;
}
#top-bar .inner {
	border-bottom: 3px solid #59d8e5;
}
#top-bar .ui-content {
	display: none;
}
#top-bar .ui-toggle {
	text-align: center;
	width: 50px;
	margin: 0 auto;
}

#left-bar {
	top: 100px;
}
#left-bar .inner {
	border-right: 3px solid #59d8e5;
	height: 88px;
	float: left;
}
#left-bar .ui-content {
	display: none;
}
#left-bar .ui-toggle {
	float: left;
}

#right-bar {
	top: 150px;
	right: 0;
	left: auto;
}
#right-bar .inner {
	border-left: 3px solid #59d8e5;
	height: 88px;
	float: right;
}
#right-bar .ui-toggle {
	float: right;
}

/********* Hacks! **********/

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix { display: inline-block; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */