body, html {
	font-family: arial, verdana, sans-serif;
	background-color: #191919;
}

#wrapper {
	width: 960px;
	margin: 50px auto;
	overflow-x: hidden;
	position: relative;
	background-color: #eee;
}
#wrapper .content {
	padding: 40px;
}
#wrapper .content p {
	margin: 0 0 10px 0;
}

.panel {
	z-index: 999;
	position: absolute;
}
.panel h1 {
	font-size: 2em;
	font-family: times, serif;
}
.panel p em {
	background-color: #fe0;
	color: #333;
	font-style: normal;
	padding: 0 2px;
}
.panel .ui-content {
	background-color: #2f3738;
	color: #fff;
}
.panel .ui-toggle {
	font-size: 10px;
	font-weight: bold;
	padding: 0 4px;
	position: relative;
	background-color: #59d8e5;
	cursor: pointer;
}


#top-bar {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
#top-bar .inner {
	border-bottom: 3px solid #59d8e5;
}
#top-bar .ui-content {
	display: none;
	padding: 15px;
}
#top-bar .ui-toggle {
	text-align: center;
	width: 50px;
	margin: 0 auto;
}


.left-right .ui-content {
	background-color: transparent;
}
.left-right .ui-content li {
	display: block;
}
.left-right .ui-content ul,
.left-right .ui-content li {
	margin: 0; padding: 0;
}
.left-right .ui-content li {
	float: left;
}
.left-right .ui-content li a {
	display: inline-block;
	padding: 0 15px;
	height: 30px;
	line-height: 30px;
	background-color: #69c;
	color: #fff;
	text-decoration: none;
	font-size: 12px;
}
.left-right .ui-toggle {
	height: 30px;
}


#left-bar {
	top: 100px;
	left: 0;
}
#left-bar .ui-content {
}
#left-bar .inner,
#left-bar .ui-content,
#left-bar .ui-toggle {
	float: left;
}

#right-bar {
	top: 150px;
	right: 0;
}
#right-bar .ui-content {
}
#right-bar .inner,
#right-bar .ui-content,
#right-bar .ui-toggle {
	float: right;
}

#right-bar-2 {
	top: 100px;
	right: 0;
}
#right-bar-2 .ui-content {
}
#right-bar-2 .inner,
#right-bar-2 .ui-content,
#right-bar-2 .ui-toggle {
	float: right;
}


/********* Hacks! **********/

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix { display: inline-block; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */