body {
	margin: 0; padding: 0;
	background-color: #191919;
}

#top-bar {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 999;
}
#top-bar .inner {
	border-bottom: 2px solid #59d8e5;
}
#top-bar h1, 
#top-bar p {
	margin: 0 0 5px 0;
	padding: 0;
}
#top-bar .ui-content {
	background-color: #2f3738;
	color: #fff;
	padding: 15px;
}
#top-bar .ui-toggle {
	float: right;
	width: 50px;
	height: 20px;
	margin-right: 10px;
	background-color: #59d8e5;
	-moz-border-radius: 0 0 4px 4px;
}

#wrapper {
	width: 920px;
	padding: 20px;
	margin: 20px auto;
	background-color: #eee;
	position: relative;
}

/********* Hacks! **********/

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix { display: inline-block; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */